name: benchmark
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  do-benchmark:
    name: Benchmark runner last released
    runs-on: ubuntu-latest
    steps:
      - name: Checkout folder to get test files
        uses: actions/checkout@v3
      - name: Rename checked out topojson package
        run: mv topojson do_later_topojson

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install geopandas shapely numpy fire altair altair_saver okab

      - name: Install latest topojson version from pypi
        run: python -m pip install topojson
      - name: Benchmark last released version!
        run: python tests/benchmark_compute.py --version=lastreleased

      - name: Install master repo topojson from git
        run: python -m pip install git+https://github.com/mattijn/topojson.git --upgrade
      - name: Benchmark version in github master!
        run: python tests/benchmark_compute.py --version=master

      - name: Rename moved topojson package
        run: mv do_later_topojson topojson
      - name: Benchmark this PR!
        run: python tests/benchmark_compute.py --version=PR

      - name: Create visz from benchmark results!
        run: python tests/benchmark_visz.py

      - name: Commit benchmark png
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "generate benchmark chart"
          add: "benchmark_chart.png --force"
          cwd: "./tests/"
